## Import Packages

In [1]:
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [23]:
data = pd.read_csv('data/kc_house_data.csv')

In [24]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

### Waterfront data

In [26]:
print([data['waterfront']== 'YES'])

[0        False
1        False
2        False
3        False
4        False
         ...
30150    False
30151    False
30152    False
30153    False
30154    False
Name: waterfront, Length: 30155, dtype: bool]

In [27]:
wf = data['waterfront']== 'YES'
wf.value_counts()

False    29636
True       519
Name: waterfront, dtype: int64

In [36]:
data['grade'].value_counts()

7 Average        11697
8 Good            9410
9 Better          3806
6 Low Average     2858
10 Very Good      1371
11 Excellent       406
5 Fair             393
12 Luxury          122
4 Low               51
13 Mansion          24
3 Poor              13
2 Substandard        2
1 Cabin              2
Name: grade, dtype: int64

### X,Y correlation between sewer, heat, grade and condition --> Price

In [40]:
y = data['price']
X = pd.get_dummies(data[['sewer_system','heat_source','grade','condition']])
model = sm.OLS(y,sm.add_constant(X)).fit()

In [42]:
dp = pd.concat([X,y],axis=1)
dp.corr().price.sort_values(ascending=False)

price                              1.000000
grade_11 Excellent                 0.317190
grade_10 Very Good                 0.300315
grade_12 Luxury                    0.282957
grade_9 Better                     0.202575
grade_13 Mansion                   0.198060
heat_source_Gas                    0.143009
heat_source_Gas/Solar              0.036684
condition_Average                  0.036382
sewer_system_PUBLIC                0.021788
condition_Very Good                0.008617
grade_1 Cabin                      0.002217
heat_source_Other                  0.001132
sewer_system_PUBLIC RESTRICTED    -0.001262
heat_source_Oil/Solar             -0.002266
sewer_system_PRIVATE RESTRICTED   -0.005218
grade_2 Substandard               -0.007323
heat_source_Electricity/Solar     -0.008419
grade_3 Poor                      -0.014922
grade_8 Good                      -0.018796
grade_4 Low                       -0.021569
sewer_system_PRIVATE              -0.021625
condition_Poor                    -0.023865
condition_Fair                    -0.032139
condition_Good                    -0.037238
grade_5 Fair                      -0.062806
heat_source_Oil                   -0.067977
heat_source_Electricity           -0.116059
grade_6 Low Average               -0.164089
grade_7 Average                   -0.256133
Name: price, dtype: float64

### Top 25- School Districts (A's), Most Diverse (A), Living Cost ($)

In [28]:
top_SD = [98004, 98005, 98007, 98008, 98039, 98052, 98074, 98033, 98006, 98053, 98034, 98075, 98029, 98027, 98011, 98040, 98028, 98072, 98077, 98059, 98155, 98038, 98024, 98065, 98177]

In [29]:
len(top_SD)

25

In [30]:
most_diverse=[98188,98108,98030,98118,98178,98168,98003,98032,98148,98057,98106,98144,98031,98055,98198,98146,98023,98056,98002,98047,98125,98092,98133,98007,98058]

In [31]:
len(most_diverse)

25

In [32]:
list_livingcost_zip = [98074, 98065, 98019, 98052, 98077, 98029, 98075, 98010, 98038, 98053, 98028, 98005, 98033, 98034, 98004, 98042, 98006, 98007, 98011, 98045, 98121, 98092, 98039, 98008, 98059]

In [33]:
len(list_livingcost_zip)

25

### Zip Codes extracted from the address column in 'data'.

In [45]:
zip_codes = data['address'].str.extract(r'(\d{5}-?\d{0,4})')
data['zip_codes']=zip_codes
data['zip_codes'].value_counts()

98115    761
98103    761
98117    748
98118    601
98106    544
        ...
21230      1
14231      1
26023      1
10001      1
13874      1
Name: zip_codes, Length: 8518, dtype: int64

In [47]:
zip_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       30155 non-null  object
dtypes: object(1)
memory usage: 235.7+ KB